CSBOT_CDP_URL=http://127.0.0.1:9223
CSBOT_SMARTSTORE_QA_URL=https://sell.smartstore.naver.com/#/comment/
CSBOT_QUICKSTAR_BASE_URL=https://quickstar.co.kr
CSBOT_QUICKSTAR_MB_ID=sos8457
CSBOT_QUICKSTAR_PAGEBLOCK=100
CSBOT_POLL_LIMIT=5
CSBOT_DRY_RUN=true
